body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.grid-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  color: black;
}

.content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px 60px;
}

.page-title {
  font-size: 50px;
  font-weight: 500;
}

.page-header {
  font-size: 35px;
  font-weight: 400;
}
